
@{
    ViewBag.Title = "Manage Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ks{
        max-width: 100% !important;
        width:100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=button] {
        background-color: #59a294;
        color: white;
        padding: 6px 9px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box ribbon-box">
                <div class="ribbon ribbon-custom"><span class="header_text">Report</span></div>
                <div class="col-md-12 box bb">

                    <input type="hidden" id="pageid" value="" />
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <span> Dispaly Text </span>
                        <input type="text" id="input_display" class="ks" value="" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <span>ToolTip :</span>
                        <input type="text" id="input_Tooltip" class="ks" value="" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        URL :
                        <input type="text" id="input_URL" class="ks" value="" />
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <span>Parent ID :</span>
                        <select id="ddlParent" class="ks"></select>
                    </div>

                    <input type="button" id="AddPage" value="Add" class="newdesg" onclick="btndata(this)" />
                    <input type="button" id="deletePage" value="Delete" class="deletebtn" onclick="deleteselected()" />

                </div>
            </div>
        </div>

    </div>
</div>
   

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-12">
            <div class="card-box ribbon-box">
                <div class="ribbon ribbon-custom"><span class="header_text">Report</span></div>
                <div class="col-md-12 box bb">
                    <div id="griddata" style="overflow-x:auto" >

                        <table id="grid_page" class="table table-striped table-bordered table-sm" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th> Page </th>
                                    <th> Target URL </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {



        // Load PageID
        $(function () {
            
            var ddlParent = $("#ddlParent");
            $.ajax({
                type: "Get",
                url: "/Admin/Page/BindGrid",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    ddlParent.empty().append('<option selected="selected" value="0">--Select--</option>');
                    $.each(response, function () {
                        ddlParent.append($("<option></option>").val(this['pageid']).html(this['distext']));
                    });
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });
    });
    function btndata(val) {
        var valuebtn = $(val).val();

        var Displaytext = $("#input_display").val();
        var Tooltip = $("#input_Tooltip").val();
        var URL = $("#input_URL").val();

        if (Displaytext == '' || Tooltip == '' || URL == '') {
            alert("Plaese Fill The Data.");
            return false;
        }
        else {
            if (valuebtn == "Add") {
                
                var Page = {
                    distext: $("#input_display").val(),
                    tooltip: $("#input_Tooltip").val(),
                    targeturl: $("#input_URL").val(),
                    parentid: $("#ddlParent option:selected").val()
                };


                $.ajax({
                    type: "POST",
                    URL: '/Admin/Page/Index',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ thepg: Page }),
                    error: function (response) {
                        alert(response);
                    },
                    success: function (response) {
                        alert(response);


                    }
                });
            }
            else {
                
                var Page = {
                    distext: $("#input_display").val(),
                    tooltip: $("#input_Tooltip").val(),
                    targeturl: $("#input_URL").val(),
                    parentid: $("#ddlParent").val(),
                    pageid: $('#pageid').val()
                };

                $.ajax({
                    type: "POST",
                    URL: '/Admin/Page/Index',
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ thepg: Page }),
                    error: function (response) {
                        alert(response);
                    },
                    success: function (response) {
                        alert(response);

                    }
                });
            }
            $('#input_display').val = '';
            $('#input_Tooltip').val = '';
            $('#input_URL').val = '';
            $('#ddldefault').val = '';
        }


    }
    function populatedata(val) {
        
        var id = $(val).attr("id");
        $("#AddPage").attr("value", "update")
        $("#AddPage").attr("ID", "UpdatePage")
        $.ajax({
            type: 'GET',
            url: '/Admin/Page/PopulateFormField',
            data: { x: id },
            dataType: 'json',
            success: function (data) {
                $('#input_display').val(data[0].distext);
                $('#input_Tooltip').val(data[0].tooltip);
                $('#input_URL').val(data[0].targeturl);
                $('#ddldefault option:selected').text(data[0].parentid);
                $('#pageid').val(data[0].pageid);

            }
        });
    }

    var tr;
    $.getJSON("/Admin/Page/BindGrid", function (json) {
        $.each(json, function (i, page) {
            
            var pageid = page.pageid;
            tr = $('<tr id="' + ('Display' + page.pageid + '') + '" >');
            tr.append("<td><input type='checkbox' name='record'></td>");
            tr.append('<td class="Con_Id" >' + page.distext + '</td>');
            tr.append("<td class='Con_Nm'>" + page.targeturl + "</td>");
            tr.append("<td>" + "<a class='EditCss' id=" + pageid + " onclick=populatedata(this)>Edit</a>" + "</td>");
            $('#grid_page').append(tr);

        });
    });

    function deleteselected() {
        
        var Finid = new Array();
        $('input[type="checkbox"]').each(function () {
            if ($(this).prop('checked')) {
                Finid.push($(this).closest('tr').find('.EditCss').attr("id"));
            }
        });
        var options = {};
        options.url = "/Admin/Page/DeletePage/";
        options.type = "POST";
        options.data = JSON.stringify(Finid);
        options.contentType = "application/json; charset=utf-8";
        options.dataType = "json";
        options.success = function (response) {
            alert(response)
        };
        options.error = function () {
            alert("Error while deleting the records!");
        };
        $.ajax(options);

    }
</script>
