
@{
    ViewBag.Title = "StockDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .container-body {
        background-color: #284c720a;
        box-shadow: -1px 1px 4px #aaaaaa;
        padding: 15px;
        margin-bottom: 22px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .container-white {
        background-color: #284c720a;
        box-shadow: -1px 1px 4px #aaaaaa;
        padding: 15px;
        margin-bottom: 22px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .container-yellow {
        background-color: #284c720a;
        box-shadow: -1px 1px 4px #aaaaaa;
        padding: 15px;
        margin-bottom: 22px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .mtbm {
        margin-bottom: 20px;
        /*border-bottom: 1px dashed #ccc;*/
        background-color: #f7e8e9;
        padding: 8px;
    }

    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 3px;
    }

    .ks {
        max-width: 100% !important;
        width: 100%;
        padding: 4px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .btnn {
        color: white;
        padding: 6px 9px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    table {
        width: 100%;
    }

    #example_filter {
        float: right;
    }

    #example_paginate {
        float: right;
    }

    label {
        display: inline-flex;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }
</style>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12 ">
            <input type="hidden" id="Outid" value="" />
            <input type="hidden" id="Countid" value="" />
            <input type="hidden" id="countcode" value="" />

            <div class="card-box ribbon-box">
                <div class="ribbon ribbon-custom"> Stock Report </div>
                <div class="col-lg-12 box bb">
                    <input type="hidden" id="hf_pageid" value="" />
                    <div class="row hd_titl mtbm" style="border-bottom: 1px solid #e5e5e5;">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-4 col-sm-12 col-xs-12">
                                    <span>Store Name:</span>
                                    <span id="lbl_Outletname" style="color:deeppink;"></span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-xs-12"></div>
                                <div class="col-lg-2 col-sm-12 col-xs-12">
                                    <span>Code:</span>
                                    <span id="lbl_Outletcode" style="color:deeppink"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-white">
                    <div class="col-lg-12 col-xs-12 col-sm-12 formbox">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12 col-xs-12">
                                <span>From Date:</span>
                                <input type="date" id="txt_Fromdate" class="ks" />
                            </div>
                            <div class="col-lg-4 col-sm-12 col-xs-12">
                                <span>To Date:</span>
                                <input type="date" id="txt_Todate" class="ks" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-11 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-1 col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-primary" id="btn_Submit" data-toggle="modal" data-target="#myModal">Submit</button>
                    </div>
                </div>
                <label id="lbl_msg"></label>

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <table id="Demogrid"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            getOutcodeByLoggedInUser();
        $("#btn_Submit").click(function () {
            GetStockDetailsByDate();
        });
    });
        function getOutcodeByLoggedInUser()
        {
            
            $.ajax({
                type: "POST",
                url: "/Admin/Outlet/OutletSelectByUserId",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#Outid').val(response[0].outid);
                    $("#lbl_Outletname").text(response[0].outletname);
                    $("#lbl_Outletcode").text(response[0].outcode)
                },
                failure: function (response) {
                    alert(response);
                },
                error: function (response) {
                    alert(response);
                }
            });
        }
    function GetStockDetailsByDate() {
        
        var fromdate = $("#txt_Fromdate").val();
        var todate = $("#txt_Todate").val();
        var date = {
            fromdate: fromdate, todate: todate
        }
        $("#Demogrid").jqGrid('GridUnload');
        $("#Demogrid").jqGrid
            ({
                url: "/Outlet/Sale/GetStockReportByDate",
                datatype: 'json',
                mtype: 'Get',
                postData: { date: date },
                colNames: [ 'Month/Year','Product Description', 'Requition Quantity', 'Receive Quantity', 'Sale Quantity', 'Stock Quantity', ],
                colModel: [
                { name: "monthyr", key: false, index: 'monthyr' },
                { name: "proddesc", key: false, index: 'proddesc' },
                { name: "reqqty", index: 'reqqty', key: false },
                { name: 'recvqty', index: 'recvqty', key: false },
                { name: "saleqty", key: false, index: 'saleqty'},
                { name: "stockqty", index: 'stockqty', key: false },
                ],
                pager: jQuery('#pager'),
                rowNum: 10,
                rowList: [10, 20, 30, 40, 50],
                height: '100%',
                width: '100%',
                viewrecords: true,
                caption: 'Stock Report',
                emptyrecords: 'No  Records are Available to Display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false
                },
                autowidth: true,
                multiselect: false,
                multiselectposition: "none"
            }).navGrid('#pager',
            {
                edit: false,
                add: false,
                del: false,
                search: true,
                searchtext: "Search",
                refresh: true,
                refreshtext: "Refresh",
            }

            );

        var dtaalength = $(".navtable tbody").find('td:eq(3)').attr("title");

        if (dtaalength == undefined) {

            $("#Demogrid").jqGrid('navButtonAdd', '#pager',
            {

                caption: "ExportExcel", buttonicon: "ui-icon ui-icon-document", title: "Export to Excel",
                onClickButton: function (e) {
                    exportDataToExcel(e, '#Demogrid');
                },
                position: "3"
            });

        }


        function exportDataToExcel(e, id) {
            
            var gridid = jQuery(id).getDataIDs();
            var label = jQuery(id).getRowData(gridid[0]);
            var selRowIds = jQuery(id).jqGrid('getRowData');

            var obj = new Object();
            obj.count = selRowIds.length;

            if (obj.count) {
                obj.items = new Array();
                for (elem in selRowIds) {
                    obj.items.push(jQuery(id).getRowData(gridid[elem]));
                }
                var json = JSON.stringify(obj);
                JSONToCSVConvertor(json, "csv", 1);
            }
        }
        function JSONToCSVConvertor(JSONData, ReportTitle, ShowLabel) {

            //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
            var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
            var CSV = '';
            //This condition will generate the Label/Header
            if (ShowLabel) {
                var row = "";

                //This loop will extract the label from 1st index of on array
                for (var index in arrData.items[0]) {
                    //Now convert each value to string and comma-seprated
                    row += index + ',';
                }
                row = row.slice(0, -1);
                //append Label row with line break
                CSV += row + '\r\n';
            }

            //1st loop is to extract each row
            for (var i = 0; i < arrData.items.length; i++) {
                var row = "";
                //2nd loop will extract each column and convert it in string comma-seprated
                for (var index in arrData.items[i]) {
                    row += '"' + arrData.items[i][index].replace(/(<([^>]+)>)/ig, '') + '",';
                }
                row.slice(0, row.length - 1);
                //add a line break after each row
                CSV += row + '\r\n';
            }

            if (CSV == '') {
                alert("Invalid data");
                return;
            }

            var link = document.createElement("a");
            link.id = "lnkDwnldLnk";

            //this part will append the anchor tag and remove it after automatic click
            document.body.appendChild(link);

            var csv = CSV;
            blob = new Blob([csv], { type: 'text/csv' });

            var myURL = window.URL || window.webkitURL;

            var csvUrl = myURL.createObjectURL(blob);
            var filename = 'ReportStock.csv';
            jQuery("#lnkDwnldLnk")
            .attr({
                'download': filename,
                'href': csvUrl
            });

            jQuery('#lnkDwnldLnk')[0].click();
            document.body.removeChild(link);

        }

    }

</script>

