
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<style>
    .main {
        border: 1px solid gray;
        width: 400px;
        height: 220px;
        margin-top: 10px;
        margin-left: 350px;
    }

    .header {
        background-color: dodgerblue;
        height: 30px;
        margin-bottom: 26px;
    }

    .header_text {
        margin-left: 96px;
        color: white;
        font-size: 20px;
    }

    .newdesg {
        color: white;
        background-color: dodgerblue;
        border: none;
        cursor: pointer;
        height: 30px;
        position: absolute;
        margin-top: 36px;
        margin-left: 50px;
    }
     .error{
        color:red;
        border:1px solid red;
        position:absolute;
            margin-left: 6px;
    height: 25px;
    }
</style>

<div class="main">
    <div class="header">
        <span class="header_text">Forgot Password</span>
    </div>
    <div style="margin-left:63px;">
        <input type="hidden" id="hdnusrid" value="" />
        <table>
            <tr>
                <td>User Name:</td>
                <td><input type="text" value="" id="usrnm" /></td>
            </tr>
            <tr style="height:20px;"></tr>
            <tr>
                <td>Email ID:</td>
                <td><input type="email" value="" id="emailid" /></td>
            </tr>           
            <tr>
                <td><input type="button" id="sendmail" value="Eamil Reset Password Link" class="newdesg" /></td>
            </tr>
        </table>
    </div>
</div>
<script>
    $(document).ready(function ()
    {
        var cgdfsd = '@Session["user_Id"]';
       
       
        $("#sendmail").on('click', function () {
            
           
            var linkdata =
             {                
                 Usr_Nm: $("#usrnm").val(),
                 Email: $("#emailid").val()
             };
            var daaatata = validationreset();
            if(daaatata.length==1)
            {
                return true;
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/User/NewUser/ForgotPassword",
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify({ theUser: linkdata }),
                    error: function (response) {
                        alert(response);
                    },
                    success: function (response) {
                        if (response == "User Exists")
                        {
                            SendMailAtConf();
                        }
                        else {
                            alert(response)
                        }
                        // window.location.href = "/User/NewUser/ViewUser";
                    }
                });
            }
        })
    })
    function validationreset()
    {
        var username = $("#usrnm").val();
        var emailid = $("#emailid").val();

        var emailReg = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        var unmReg = /^[a-zA-Z0-9\-_]{0,40}$/;
        $('.error').hide();
        if (username == "" || emailid == "")
        {
            if(username == "")
            {
                $("#usrnm").after('<span class="error">Please Give User Name</span>');
            }
            if (emailid == "") {
                $("#emailid").after('<span class="error">Please Give EmailId</span>');
            }
        }
        else if (!emailReg.test(emailid) || !unmReg.test(username))
        {
            if (!emailReg.test(emailid))
            {
                $("#emailid").after('<span class="error">Please Give a valid EmailId</span>');
            }
            if (!unmReg.test(username))
            {
                $("#emailid").after('<span class="error">Please Give a valid UserName</span>');
            }
        }
        else {
            return 1;
        }
        
    }
    function SendMailAtConf()
    {
        
        var username = $("#usrnm").val();
        var maildata = $("#emailid").val();
        var resetlink = 'http://localhost:60708/User/NewUser/ChangePassword/' + username + '/';
        $.ajax({
            type: "POST",
            url: "/User/NewUser/MailSend",
            data: { "maildata": maildata, "username": username, "resetlink": resetlink },
            dataType: "json",
            success: function (response) {
                alert("Please go through the link send to your Email");
            },
            error: function (response) {
                alert("Please give proper user name and emailid");
            }
        });      

    }
</script>